html,
body {
	margin:0;
	padding:0;
	height:100%;
    background-color: #EEEEEE;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#content {
	padding-bottom:8em;
}
#footer {
	width:100%;
	height:8em;
	position:absolute;
	bottom:0;
	left:0;
}


/* Feature Image */
.blur {
    -webkit-filter: blur(.2em);
    -moz-filter: blur(.2em);
    -o-filter: blur(.2em);
    -ms-filter: blur(.2em);
    filter: blur(.2em);
    z-index: -2;
		opacity: 0.7;
    filter: alpha(opacity=70);
}
.noblur {
    -webkit-filter: blur(.05em);
    -moz-filter: blur(.05em);
    -o-filter: blur(.05em);
    -ms-filter: blur(.05em);
    filter: blur(.05em);
    z-index: -3;
		opacity: 0.7;
    filter: alpha(opacity=70);
}
.feature-container {
    height: 16em;
    width: 100%;
    position: relative;
    background-color: #03A9F4;
    margin-bottom: 1em;
    z-index: 3;
}
.feature {
    position: relative;
    width: 100%;
    height: 16em;
}
.featured-image {
    position: absolute;
    width: 100%;
    height: 16em;
    background:linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.3));
}
.feature-img,
.feature-text {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.feature-text {
    display: table;
}

.feature-text h1{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 10;
    color: #fff;
    text-shadow: 0 0 .2em #263238;
    font-size: 3em;
}


/* Footer */
@font-face {
	font-family: Socicon;
	src: url('fonts/socicon.ttf');
}

.social {
    float: right;
    font-family: Socicon;
    font-size:1.5em;
    padding: 10px;
}

.social:hover { 
    color: #B3E5FC;
}

#social ul {
    width:100%;
    text-align: center;
    margin: 0;
}
#social li {
    display:inline-block;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
}

.featured {
    margin-bottom: 1em;
    display: inline-block;
}
@media (min-width: 860px) {
    .featured:nth-of-type(3n+2),
    .featured:nth-of-type(3n){
	width: 50%;
    }
    .featured:nth-of-type(3n+2) {
	padding-left: 0.5em;
	float: right;
    }
    .featured:nth-of-type(3n) {
	padding-right: 0.5em;
	float: left;
    }
}
.padinator {
    margin-bottom: .5em;
}
.padinator .nav {
    width: 35%;
    display: inline-block;
    margin-top: 0!important;
}
.padinator .nav:nth-of-type(2n) {
    float: right;
}
.padinator .nav:only-child {
    width: 100%;
}
