<div class="card">
  <div class="view overlay hm-white-slight">
        <img src="{{.Params.image}}" class="img-fluid" alt="">
        <a href="{{.Permalink}}">
            <div class="mask"></div>
        </a>
    </div>
    <div class="card-body">
        <a href="{{ .Permalink }}">
        <h4 class="card-title">{{ .Title}}</h4>
        <!--Text-->
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</a>
</div>

                
