<div class="featured">
  <a href="{{.Permalink}}">
    <div class="card">
      <div class="view overlay hm-white-slight">
        <div class="img-fluid-box">
          <img src="{{ ((.Resources.GetMatch (printf "images/%s" (index .Params "image"))).Fit "1500x750 q50").RelPermalink }}" class="img-fluid" alt="{{ .Title}}">
	</div>     
        <div class="mask"></div>
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ .Title}}</h4>
      </div>
    </div>
  </a>
</div>
                
