      </div>
    </div>
    <div class="footer">
      <div id="content">
          <p>Copyright &copy; 2016 <a href="http://cacolglazier.com/">Christian Colglaizer</a>
            <a href="https://soundcloud.com/aquamorph" target="_blank" class="social">n</a>
            <a href="http://instagram.com/cacolglazier/" target="_blank" class="social">x</a>
            <a href="https://play.google.com/store/apps/developer?id=Christian+Colglazier" target="_blank" class="social">L</a>
            <a href="https://github.com/AquaMorph" target="_blank" class="social">Q</a>
            <a href="http://twitter.com/aquamorph/" target="_blank" class="social">a</a>
          </p>
      </div>
    </div>
  </div>
</html>
