    </div>
    <footer class="page-footer light-blue center-on-small-only" id="footer">
    <div class="container">
        <div class="row">
            <!--Second column-->
            <div class="col" id="social">
                <ul>
                    <li><a href="https://github.com/AquaMorph" target="_blank"class="social">Q</a></li>
                    <li><a href="https://www.linkedin.com/in/christian-colglazier-1923b3137/" target="_blank" class="social">j</a></li>
                    <li><a href="http://twitter.com/aquamorph/" target="_blank" class="social">a</a></li>
                    <li><a href="https://play.google.com/store/apps/developer?id=Christian+Colglazier" target="_blank" class="social">L</a>
                    <li><a href="http://instagram.com/cacolglazier/" target="_blank" class="social">x</a></li>
                </ul>
            </div>
        </div>
    </div>
        <div class="container" style="text-align: center">
            Copyright &copy; 2017 <a href="{{.Site.BaseURL}}">Christian Colglazier</a>
        </div>
</footer>
    </div>
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/font-awesome.min.css">
    <link href="{{.Site.BaseURL}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{.Site.BaseURL}}/css/mdb.min.css" rel="stylesheet">
    <link href="{{.Site.BaseURL}}/css/style.css" rel="stylesheet">
    <script type="text/javascript" src="{{.Site.BaseURL}}/js/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{{.Site.BaseURL}}/js/tether.min.js"></script>
    <script type="text/javascript" src="{{.Site.BaseURL}}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{.Site.BaseURL}}/js/mdb.min.js"></script>
    </body>
</html>
