<!DOCTYPE>
<html>
<head>
    <meta name="keywords" content="Christian Colglazier, Colglazier, Android, wake county, north carolina, cary, apex, raleigh" />
    <meta name="description" content="Christian Colglazier" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/menu.js"></script>
    <title>{{ .Title }}</title>
</head>
<div id='holder'>
  <div class="headerspace"></div>
  <div class="header">
      <div id="mobile">
      	<div id="box" onClick="toggleVisibility('menu')"><div id="line"></div><div id="line"></div><div id="line"></div></div>
      	<a href="/index"><h1>C A Colglazier</h1></a>
      </div>
      {{ partial "menu.html" . }}
  </div>
  <div class='feature-container'>
    <div class='feature-img'>
        <div class='feature'>
            <div style='background:url($img) center/cover' class='featured-image blur'></div>
            <div style='background:url($img) center/cover' class='featured-image noblur'></div>
        </div>
    </div>
    <div class='feature-text'><h1>{{ .Title }}</h1></div>
  </div>
  <div class='wrapper'>
  <div class='content'>
