<!DOCTYPE>
<html>
<head>
    <meta name="keywords" content="Christian Colglazier, Colglazier, Android, wake county, north carolina, cary, apex, raleigh" />
    <meta name="description" content="Christian Colglazier" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{.Site.BaseURL}}/img/favicon.png" />
    <title>{{ .Title }}</title>
</head>
<body>
<div id="wrapper">
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark light-blue">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{.Site.BaseURL}}">
                <strong>Christian Colglazier</strong>
            </a>
            {{ partial "menu.html" . }}
        </div>
    </nav>
    <div class='feature-container'>
        <div class='feature-img'>
            <div class='feature'>
                {{ partial "image.html" . }}
