{{ partial "header.html" . }}
  <div style='background:url(/img/IMG_9834.jpg) center/cover' class='featured-image blur'></div>
  <div style='background:url(/img/IMG_9834.jpg) center/cover' class='featured-image noblur'></div>
{{ partial "featuretext.html" . }}
            <div class="card-block" style="padding-top: 0">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <div class="row">
                        <p style="margin: 0">I'm a senior at East Carolina University, working towards a BS in Computer Science. When I have free time from studying for school, I enjoy spending it reading, developing apps, and making video. My passion is autodidactically learning new skills and applying those skills to new projects. I'm always working on one of many projects to create new things that spark my interest.</p>
                    </div>
                    <div class="row" style="margin: 2em">
                        <form action="resume.pdf" style="margin: auto">
                            <button type="submit" class="btn btn-info" >My R&eacute;sum&eacute;</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <img src="img/profile.jpg" class="img-fluid rounded-circle float-right" alt="Responsive image" style="margin-left: 2em">
                </div>
            </div>
            </div>
            
            <div class="card" style="margin-bottom: 2em">
            <div class="card-block">
            <h1 class="h1-responsive">Skills</h1>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h2 class="h2-responsive">Programming Languages</h2>
                    <ul style="column-count: 3">
                        <li>Java</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>LabVIEW</li>
                        <li>MySQL</li>
                        <li>Node.js</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                        <li>Lisp</li>
                        <li>Assembly</li>
                        <li>Scheme</li>
                        <li>Prolog</li>
                        <li>Go</li>
                        <li>Cinnameg</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h2 class="h2-responsive">Markup Languages</h2>
                    <ul style="column-count: 2">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>XML</li>
                        <li>Latex</li>
                        <li>Markdown</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h2 class="h2-responsive">Tools</h2>
                    <ul style="column-count: 3">
                        <li>Git</li>
                        <li>Linux</li>
                        <li>GitHub</li>
                        <li>Jenkins</li>
                        <li>Android Studio</li>
                        <li>Intellij IDEA</li>
                        <li>Eclipse</li>
                        <li>Vim</li>
                        <li>SVN</li>
                        <li>Travis CI</li>
                        <li>JIRA</li>
                        <li>Lisp</li>
                        <li>Jacoco</li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h2 class="h2-responsive">Miscellaneous</h2>
                    <ul style="column-count: 2">
                        <li>Robotics</li>
                        <li>Videoography</li>
                        <li>Photograhy</li>
                    </ul>
                </div>
            </div>
            </div>
            </div>
            
            <div class="card" style="margin-bottom: 2em">
            <div class="card-block">
            <h1 class="h1-responsive">Awards & Organizations</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Level</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">2012</th>
                        <td>National</td>
                        <td>Eagle Scout (Boy Scouts of America)</td>
                    </tr>
                    <tr>
                        <th scope="row">2012</th>
                        <td>National</td>
                        <td>The President's Volunteer Service Bronze Award</td>
                    </tr>
                    <tr>
                        <th scope="row">2010-2012</th>
                        <td>State</td>
                        <td>First Prize at the State Fair Web Design Competition</td>
                    </tr>
                    <tr>
                        <th scope="row">2011-2013</th>
                        <td>Local</td>
                        <td>Lead Programmer for FIRST Robotics Competition team</td>
                    </tr>
                    <tr>
                        <th scope="row">2014-Present</th>
                        <td>Local</td>
                        <td>Programming Mentor for FIRST Robotics Competition</td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
{{ partial "footer.html" . }}
