<div class="row">
  <div class="col-md-8 col-sm-8">
    <p>{{ .Inner }}</p>
  </div>
  <div class="col-md-4 col-sm-4">
    <div class="phone-mock">
      <img class="phone" src="/img/pixel2.png" alt="Pixel 2">
      {{ if .Get "img" }}
      <img class="screenshot" src="{{ (.Page.Resources.GetMatch (printf "**%s.webm" (.Get "img"))).RelPermalink }}" alt="Screenshot">
      {{ end }}
      {{ if .Get "video" }}
       <video autoplay loop muted class="screenshot">
	 <source src="{{ (.Page.Resources.GetMatch (printf "**%s.webm" (.Get "video"))).RelPermalink }}" type="video/webm">
	 <source src="{{ (.Page.Resources.GetMatch (printf "**%s.mp4" (.Get "video"))).RelPermalink }}" type="video/mp4">
	     Your browser does not support the video tag and therefore sucks
       </video> 
      {{ end }}
    </div>
  </div>
</div>
